<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyect_alfabet_7._0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyect_alfabet_7._0.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <script src="https://kit.fontawesome.com/ffd60653cb.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proyect_alfabet_7._0</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav><!--
        <nav class="navbar navbar-dark sticky-top">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item disabled-hoover">
                        <i><img id="logo" src="img/home/logo.png" style="width:83px;" class="img-fluid"></i>
                        color corazón:#ea7053. Color pasto: #71be5b
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <i id="nb1" style="display: none;" title="Volvé al inicio" class="bi bi-house-fill nav-icons"></i>
                            <h1 class="d-inline d-md-none bar_icons">&nbspHOME</h1>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">
                            <i id="nb2" style="display: none;" title="Entereate de las noticias" class="bi bi-newspaper nav-icons"></i>
                            <h1 class="d-inline d-md-none bar_icons">&nbspNOTICIAS</h1>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pics.html">
                            <i id="nb3" style="display: none;" title="Mirá las mejores fotos" class="bi bi-images nav-icons"></i>
                            <h1 class="d-inline d-md-none bar_icons">&nbspFOTOS</h1>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="join.html">
                            <i id="nb4" style="display: none;" title="Unite a los DGL" class="bi bi-person-plus-fill nav-icons"></i>
                            <h1 class="d-inline d-md-none bar_icons">&nbspUNIRSE</h1>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reach.html">
                            <i id="nb5" style="display: none;" title="Envianos tu amor virtual" class="bi bi-envelope-paper-heart-fill nav-icons"></i>
                            <h1 class="d-inline d-md-none bar_icons">&nbspCONTACTO</h1>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Proyect_alfabet_7._0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
