@model Proyect_alfabet_7._0.Models.Student

@{
    ViewData["Title"] = "Create";
}
<home>
    <style>
        body {
            background: hsl(328, 5%, 75%);
        }
        </style>
</home>
<div class="login">
    <div class="row">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="UserName" class="form-control mb-3" placeholder="Nombre del usuario" required />
            <span asp-validation-for="UserName" class="text-danger"></span>

            <input asp-for="Password" class="form-control mb-3" placeholder="Contraseña" required type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="Email" class="form-control mb-3" placeholder="Email@@ejemplo.com" required id="email_ing" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Phone" class="form-control mb-3" placeholder="Teléfono" required />
            <span asp-validation-for="Phone" class="text-danger"></span>

            <input asp-for="City" class="form-control mb-3" placeholder="Ciudad" required />
            <span asp-validation-for="City" class="text-danger"></span>

            <input asp-for="ProfilePicture" type="file" name="ProfilePicture" class="form-control mb-3" accept=".png, .jpg, .jpeg, .gif, .tif" />
            <span asp-validation-for="ProfilePicture" class="text-danger" required></span>
            <hr />
            <div class="d-flex justify-content-between">
                <div>
                    <button type="submit" class="btn btn-outline-secondary mb-3" onclick="EmailVal();">
                        <i class="fas fa-user-plus"></i> Crear
                    </button>
                </div>
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <button type="button" class="btn btn-outline-secondary">
                            Volver <i class="fas fa-arrow-left"></i>
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
