@model Proyect_alfabet_7._0.Models.Student

@{
    ViewData["Title"] = "Edit";
}
<home>
    <style>
        body {
            background: hsl(328, 5%, 75%);
        }
    </style>
</home>

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <input asp-for="ProfilePicture" class="form-control" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
@*             <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fas fa-save" style="font-size: 1.5em"></i>
                </button>
                @* <input type="submit" value="" class="btn btn-primary" /><i class="fas fa-save"></i> *@
            </div>
        </form>
    </div>
    <br />
    <div>
        <a asp-action="Details" asp-route-id="@Model?.Id">
            <button typo="submit" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-alt-circle-left" style="font-size: 1.5em"></i>
            </button>
        </a>
    </div>
</div>
@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
