@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<home>
    <style>
        body {
            background: hsl(328, 5%, 75%);
        }
    </style>
</home>
<div class="login">
    <h1>Ingrese su email</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Students" asp-action="SendEmail">
        <p>
            <i class="fas fa-envelope-open-text" style="font-size: 2em; color: lightslategray;"></i>
            <input type="text" name="Email" placeholder="Email" required style="margin-inline-start:30px;">
        </p>
        <p class="submit">
            <button type="submit" class="btn btn-outline-secondary">
                Enviar <i class="bi bi-send-fill"></i>
            </button>
        </p>
    </form>
    <hr />
    <div class="d-flex justify-content-end">
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-alt-circle-left" style="font-size: 1.5em"></i> Atrás
                </button>
            </a>
        </div>
    </div>
</div>
