@model Proyect_alfabet_7._0.Models.Message

@{
    ViewData["Title"] = "Create";
    int id = (int)ViewData["id"];
}
<home>
    <style>
        body {
            background: hsl(328, 5%, 75%);
        }
    </style>
</home>
<div class="login">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="SenderId" type="hidden" class="form-control" value="@id" />
        <input asp-for="SenderName" type="hidden" class="form-control" value="Sender" />
        <input asp-for="ReceiverId" type="hidden" class="form-control" value="@id" />

        <input asp-for="ReceiverName" class="form-control mb-3" placeholder="Destinatario" />
        <span asp-validation-for="ReceiverName" class="text-danger"></span>

        <textarea asp-for="Content" class="form-control mb-3" rows="5" placeholder="Escriba su mensaje aquí"></textarea>

        <hr />

        <div class="d-flex justify-content-between align-items-end">
            <span asp-validation-for="Content" class="text-danger">Debe escribir un mensaje</span>
            <button type="submit" class="btn btn-outline-secondary mb-3">
                <span style="font-size: 1.2em;">Enviar</span><i class="fas fa-paper-plane" style="font-size: 1.5em; text-indent: 8px;"></i>
            </button>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
