@model Proyect_alfabet_7._0.Models.Tutor

@{
    ViewData["Title"] = "Details";
}
<home>
    <style>
        body {
            background: hsl(328, 5%, 75%);
        }
    </style>
</home>
<body>
    <div class="row justify-content-center">
        <div class="d-flex justify-content-center">
            <h1 style="color: magenta; font-weight: bold;">@Html.DisplayFor(model => model.UserName)</h1>
        </div>
        <div class="d-flex justify-content-center mb-3 rounded-circle" style="width:210px; height:210px; padding: 5px 5px 3px 5px; background-color: steelblue;">
            @if (ViewData["pic"] != null)
            {
                <img class="rounded-circle" src="data:image /jpeg;base64,@ViewData["pic"]" alt="Foto" height="200" width="200">
            }
            else
            {
                <img class="rounded-circle" src="~/profilepics/defaultpic.jpg" alt="Foto por defecto" height="200" width="200">
            }
        </div>
        <hr />
        <div class="d-flex justify-content-center">
            <h4 style="color: darkmagenta">Email: @Html.DisplayFor(model => model.Email)</h4>
        </div>
        <div class="d-flex justify-content-center">
            <h4 style="color: darkmagenta;">Teléfono: @Html.DisplayFor(model => model.Phone)</h4>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
            <a asp-action="Edit" asp-route-id="@Model?.Id">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fas fa-user-edit" style="font-size: 3rem"></i>
                </button>
            </a>
        </div>
    </div>
</body>