@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int id = (int)ViewData["id"];
    int module = (int)ViewData["module"];
    int lesson = (int)ViewData["lesson"];
    string currentModule = "Module" + module;
    ViewBag.Title = "Student Progress";
    int percentage = (int)(ViewBag.PercentageCompleted*100);
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ff69b4">
    <link rel="stylesheet" href="/css/device.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/blokk/blokk.css">
    <script src="/js/index.js" type="module" defer></script>
</head>
<body>
    <div class="container login2" style="height: 100vh;">
        <div class="device">
            <snap-tabs>
                <header class="scroll-snap-x">
                    <nav>
                        <a active class="icon-link" href="#home" onclick="navigateAndReload('#home')">
                            <i class="fas fa-home"></i>
                        </a>
                        <a class="icon-link" href="#profile">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <a class="icon-link" href="#messages">
                            <i class="fas fa-envelope-open"></i>
                        </a>
                        <a class="icon-link" href="#modules">
                            <i class="fas fa-book-open"></i>
                        </a>
                    </nav>
                    <span class="snap-indicator"></span>
                </header>
                <section class="scroll-snap-x">
                    <article id="home">
                        <iframe id="home-iframe" src="@Url.Action("ButtonStudent", "Menu", new {@id = id})" width="450" height="793" frameborder="0" scrolling="no"></iframe>
                    </article>
                    <article id="profile">
                        <iframe id="details" src="@Url.Action("Details", "Students", new {@id = id})" width="450" height="793" frameborder="0" scrolling="no"></iframe>
                    </article>
                    <article id="messages">
                        <iframe src="@Url.Action("Index", "Messages", new {@id = id})" width="450" height="793" frameborder="0" scrolling="yes"></iframe>
                    </article>
                    <article id="modules">
                        <iframe src="@Url.Action("Module","Content", new{@id = id, @module = module, @lesson = lesson})" width="450" height="793" frameborder="0" scrolling="no"></iframe>
                    </article>
                </section>
            </snap-tabs>
        </div>
    </div>
    <script>
        function navigateAndReload(hash) {
            window.location.hash = hash;
            setTimeout(function () {
                var homeIframe = document.getElementById("home-iframe");
                homeIframe.src = homeIframe.src;
            }, 100);
        }
    </script>
</body>