@{
    ViewData["Title"] = "Home Page";
}
<home>
    <style>
        body{
            background: hsl(328, 5%, 75%);
        }
    </style>
</home>
<div class="login">
    <h1>Ingreso al sistema</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <p>
            <i class="fas fa-user-alt" style="font-size: 2em; color: lightslategray;"></i>
            <input type="text" name="username" value="" placeholder="Usuario" required style="margin-inline-start:30px;">
        </p>
        <p>
            <i class="fas fa-key" style="font-size: 2em; color: lightslategray;"></i>
            <input type="password" name="passcode" value="" placeholder="Contraseña" required style="margin-inline-start:30px;">
        </p>
        <p class="remember_me">
            <label>
                <input type="checkbox" name="remember_me" id="remember_me" style="font-size: 2em;">
                <i class="fas fa-user-lock" style="font-size: 2em; color: lightslategray;"></i>
                <span style="font-size: 1rem; color: lightslategray; font-weight: bold; margin-inline-start:3px;">Recordar</span>
            </label>
        </p>
            <p class="submit">
                <button type="submit" name="commit" class="btn btn-outline-secondary">
                    Entrar <i class="fas fa-sign-in-alt"></i>
                </button>
            </p>
        <hr />
        <span style="color: red;"><b>@ViewBag.username</b></span>
    </form>
    <div class="d-flex justify-content-between">
        <div>
            <a asp-area="" asp-controller="Students" asp-action="Create">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fas fa-user-plus"></i> Nuevo
                </button>
            </a>
        </div>
        <div>
            <a asp-area="" asp-controller="Students" asp-action="Recover">
                <button type="submit" class="btn btn btn-outline-secondary">
                    Recuperar <i class="fas fa-key"></i> <i class="fas fa-question-circle"></i>
                </button>
            </a>
        </div>
    </div>
</div>