@{
    ViewData["Title"] = "Home Page";
}
<div class="login">
    <h1>Ingreso al sistema</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <p><i class="fas fa-user-alt" style="font-size: 2rem; color: magenta;"></i><input type="text" name="username" value="" placeholder="Usuario" required style="margin-inline-start:30px;"></p>
        <p><i class="fas fa-key" style="font-size: 2rem; color: magenta;"></i><input type="password" name="passcode" value="" placeholder="Contraseña" required style="margin-inline-start:30px;"></p>
        <p class="remember_me">
            <label>
                <input type="checkbox" name="remember_me" id="remember_me">
                <i class="fas fa-user-lock" style="font-size: 2rem; color: magenta;"></i><span style="font-size: 1rem; color: black; font-weight: bold; margin-inline-start:30px;">Recordar</span>
            </label>
        </p>
        <p class="submit"><input type="submit" name="commit" value="Ingresar"></p>
        <hr />
        <span style="color: red;"><b>@ViewBag.username</b></span>
    </form>
    <div class="d-flex justify-content-between">
        <div>
            <a asp-area="" asp-controller="Students" asp-action="Create">
                <input type="submit" name="commit" value="Nuevo usuario">
            </a>
        </div>
        <div>
            <input type="submit" name="commit" value="Olvidé mi contraseña">
        </div>
    </div>
</div>