@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="container">
    <button type="button" class="btn btn-success btn-lg w-100"><i class="fas fa-user-graduate" style="font-size: 5rem; color: coral;"></i><br /><span style="font-size: 2rem; color: coral;"><b>Estudiante</b></span></button>
</div>
<br />
<div class="container">
    <button type="button" class="btn btn-primary btn-lg w-100"><i class="fas fa-chalkboard-teacher	" style="font-size: 5rem; color: black;"></i><br /><span style="font-size: 2rem; color: black;"><b>Tutor</b></span></button>
</div>
<br />
<div class="container">
    <button type="button" class="btn btn-danger btn-lg w-100"><i class="fas fa-laptop-code" style="font-size: 5rem; color: Chartreuse;"></i><br /><span style="font-size: 2rem; color: Chartreuse;"><b>Administrador</b></span></button>
</div>-->

<div class="login">
    <h1>Ingreso al sistema</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <p><i class="fas fa-user-alt" style="font-size: 2rem; color: black;"></i><input type="text" name="username" value="" placeholder="Usuario" required></p>
        <p><i class="fas fa-key" style="font-size: 2rem; color: black;"></i><input type="password" name="passcode" value="" placeholder="Contraseña" required></p>
        <p class="remember_me">
            <label>
                <input type="checkbox" name="remember_me" id="remember_me">
                <i class="fas fa-user-lock" style="font-size: 2rem; color: black;"></i><span style="font-size: 1rem; color: black; font-weight: bold;"> Recordar</span>
            </label>
        </p>
        <p class="submit"><input type="submit" name="commit" value="Ingresar"></p>
        <hr />
        <span style="color: red;"><b>@ViewBag.username</b></span>
    </form>
    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Create"><button><p class="submit"><input type="submit" name="commit" value="Nuevo usuario"></p></button></a>
</div>