@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int id = (int)ViewData["id"];
    int module = (int)ViewData["module"];
    int lesson = (int)ViewData["lesson"];
    int nextLesson = lesson + 1;
    int nextModule = module + 1;
}
<div id="lesson16" class="lesson_container">
    <div class="row">
        POEMA VOCALES
    </div>
    <hr>
    <div class="row">
        <div class="d-flex justify-content-around">
            <a asp-controller="Content" asp-action="Module1" asp-route-id="@id" asp-route-module="@module" asp-route-lesson="@nextLesson">
                <button type="button" class="btn btn-outline-secondary"><i class="fas fa-arrow-alt-circle-right" style="font-size: 2em"></i></button>
            </a>
        </div>
    </div>
</div>
<script src="~/js/Module1.js"></script>